h1, .logo{
	font-family: 'Ranchers', cursive;
}
.logo{
	font-size-adjust:0.9;
}

h2{
	font-family: 'Ranchers', cursive;
}


.related .posts a{display:block;font-weight:bold;}
.related .posts span{color:$copyrightColor;}
.related ul{list-style-type: none;}
.related ul li{
	margin-bottom:10px;
}

.posts-list{
	list-style-type: none;
	li{margin:5px 0;}
}

.copyright{
	margin-top:20px;
	text-align:center;
	color:$copyrightColor;
	font-size-adjust:0.5;
}

#github-badge{
	border: 0;height: 142px;width: 100%;overflow: hidden;
	margin-top:20px;
}


.post .step{
	padding:20px 20px 20px 20px;
	margin-bottom:15px;
	@include border-radius(4px, 4px);

	p > span{
		font-weight:bold;
		color:#777;
		font-size:ms(2);
		margin-right:10px;
	}
}
.post .step:nth-child(odd){
	background:#EEF1F2;
}
.post .step:nth-child(even){
	background:#EBF4F6;
}

.post p:first-child{
	font-weight:bold;
}
.post .step ul{
	list-style-position: outside;
	margin-left:20px;
}