<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>{{page.title}}</title>

	<!-- Included CSS Files -->
	<link href='http://fonts.googleapis.com/css?family=Ranchers' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/stylesheets/app.css">

	<script src="/javascripts/foundation/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30516711-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>
<body>
	<div class="fixed contain-to-grid">
			<nav class="top-bar">
			  <ul>
			    <li class="name"><h1><a href="#">lz:co</a></h1></li>
			    <li class="toggle-topbar"><a href="#"></a></li>
			  </ul>
			  <section>
			    <ul class="left">
			      <li><a href="/">blog</a></li>
			      <li><a href="http://github.com/lzcabrera">github</a></li>
			      <li><a href="http://twitter.com/lauracabrera">twitter</a></li>
			    </ul>

			    
			  </section>
			</nav>
		</div>

	<div class="row">
		<div class="twelve columns">


		

			{{ content }}
		</div>
	</div>

	<div class="row">
		<div class="twelve columns">
			<p class="copyright">laura cabrera &copy; {{ site.time | date: '%Y' }}</p>
		</div>
	</div>

	<!-- Included JS Files (Uncompressed) -->
	<script src="/javascripts/foundation/jquery.js"></script>
	
	<script src="/javascripts/foundation/jquery.foundation.accordion.js"></script>
	
	<script src="/javascripts/foundation/jquery.foundation.alerts.js"></script>
	
	<script src="/javascripts/foundation/jquery.foundation.buttons.js"></script>
	
	<script src="/javascripts/foundation/jquery.foundation.forms.js"></script>
	
	<script src="/javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
	
	<script src="/javascripts/foundation/jquery.foundation.navigation.js"></script>
	
	<script src="/javascripts/foundation/jquery.foundation.orbit.js"></script>
	
	<script src="/javascripts/foundation/jquery.foundation.reveal.js"></script>
	
	<script src="/javascripts/foundation/jquery.foundation.tabs.js"></script>
	
	<script src="/javascripts/foundation/jquery.foundation.tooltips.js"></script>
	
	<script src="/javascripts/foundation/jquery.foundation.topbar.js"></script>
	
	<script src="/javascripts/foundation/jquery.placeholder.js"></script>
	
	
  <!-- Application Javascript, safe to override -->
  <script src="/javascripts/foundation/app.js"></script>
</body>
</html>
